<html>
        <head>
            <meta charset="UTF-8">
            <title>Геральдические символы Москвы</title>
        </head>
        <body>
        {% for i, item in data %}
            {% if i != 0 %}
                <h1 style="page-break-before: always">{{item.Name}}</h1>
            {% else %}
                 <h1>{{item.Name}}</h1>
            {% endif %}
            <p>
                <img style="width:80%;margin-left:10%"
                src="https://op.mos.ru/MEDIA/showFile?id={{item.Picture}}" alt="{{item.Name}}"/>
            </p>
            <p style="font-size:150%">{{item.Description}}</p>
        {% endfor %}
        </body>
</html>